body{
    background-color: #0A192F;
    color:#CCD6F6;
    margin: 0 12%;
}
.description{
    text-align: center;
    /* we can use flex-box properties to align center it, but it is simple to align center.
    by using display: flex and justify-content*/
    margin: 10px;
}
.description >h2{
    margin: 0px;/* making no margin between h2 and p tag in description.*/
}
.description >p{
    margin: 0px;/* making no margin between h2 and p tag in description.*/
}
.svg-folder{
    height: 50px;
    width: 50px;
    background-color: aliceblue;
}
.sub-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;/*for wraping the content, if screen size reduce then content wrapped automatically.*/
    justify-content: center;
    margin: auto;
}
.f-item{
    width: 220px;
    height: 250px;
    padding: 10px;
    margin: 6px;
    background-color: #112240;
}
.f-item >p{
    font-size: 14px;
}
.t-stack-list{
    list-style-type: none;/* for disappearing bullet points.*/
    display: flex;/* for making in one line*/
    gap:15px; /* for making space inside the flex content*/
    font-size: 14px;
    color: #8892B0;
    padding: 0;
}